body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* This will remove horizontal scroll */
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Rest of your CSS */
.logo {
  height: 30px;
}
.user {
  height: 30px;
}

li {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.used {
  display: flex;
  float: right;
  margin-top: 7px;
}

.used ul {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.used ul li img {
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

.used ul li:not(:first-child) {
  margin-left: -15px;
}

.used p {
  font-size: 13px;
  color: #656565;
  line-height: 18px;
  font-weight: 300;
  margin-bottom: 0;
  text-align: left;
}

.btn {
  background-color: #2799e7;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.txt{
    color: white;
    text-decoration: none;
}

.part-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.heading {
    font-size: 60px;
    text-align: center;
}

.way b {
    position: relative;
    display: inline-block;
    text-transform: none;
    animation: animate 1.5s ease-in-out infinite;
    animation-delay: calc(var(--n) * 0.1s);
}

:root {
  --n: 1;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(calc(var(--n) * -10px));
    }
}